@charset 'utf-8';


/*///////////////////////////////////////// basic css  ///////////////////*/

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    background-color: black;
    color: white;
}
p {
    line-height: 1.6;
}
a {
    text-decoration: none;
    color: inherit;
}

/*///////////////////////////////////////// globa css  ///////////////////*/
.scroll-section {
    border: 1px solid red;
}
.sticky-nav {
    width: 1636px;
    height: 50px;
    margin: 0 140px;
}
.sticky-nav {
    top : 0;
    position: fixed;
    -webkit-backdrop-filter: saturate(180%) blur(15px);
    -moz-backdrop-filter: saturate(180%) blur(15px);
    -o-backdrop-filter: saturate(180%) blur(15px);
    backdrop-filter: saturate(180%) blur(15px);
    z-index: 111;
    background-color: rgba(0, 0, 0, 0.4);
}
.nav-links {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-bottom: solid 1px white ;
    z-index: 111;
}
.nav-links .logo {
    display: flex;
    margin-right:auto;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
}
.logo .logo-img{
    margin-left: -5px;
    width: 150px;
    height: auto;
}

/* /////////////////////////scroll section 0 css start //////////////////////*/

#scroll-section-0 {
    top :0px;
    width: 1636px;
    margin: 0 140px;
}
.scroll-icon-space {
    position: absolute;
    top: 80px;
    right: 5vw;
    font-size: 1.2rem;
}
@keyframes scroll-icon-ani {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0,5vh,0);
    }
}
.scroll-icon {
    width: 100px;
    height: auto;
}
.scroll-icon-ani {
    animation: scroll-icon-ani 3s infinite;
}

.title-space {
    margin-top: 15vh;
    width: 1636px;
    height: 40vh;
    background-color: blue;
}
.title {
    font-size: 10rem;
    height: 20vh;
    background-color: blueviolet;
}
.sub-title{
    height: 20vh;
    font-size: 3rem;
}
.head-copy-space {
    width: 798px;
    height: 30vh;
    font-size: 1.5rem;
    margin-bottom: 15vh;
    background-color: blueviolet;
}
.box-house{
    width: 1636px;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 200vh;
    background-color: blueviolet;
}
.box-room {
    position: absolute;
}
#box-room-0 { left: 0;}
#box-room-1 { left: 22.5vw;}
#box-room-2 { left: 45vw;}
#box-room-3 { left: 67.5vw;}

.box-room p {
    position: absolute;
    top:0.5vw;
    left:0.5vw;
    text-align: center;
}
.big-box {
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35vh;
    height: 35vh;
    border: solid 0.5px white;
}
.box {
    width : 15vh;
    height : 15vh;
    transform-origin: center;
}
#box-0 { background-color: #ffffff;}
#box-1 { background-color: #bdbdbd;}
#box-2 { background-color: #7e7e7e;}
#box-3 { background-color: #333333;}

.boundary-line-house {
    position: absolute;
    top: 200vh;
    width: 100vw;
    height: 100vh;
    background-color:transparent;
    z-index: 1;
}

.boundary-line {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50vw;
    height: 2px;
    background-color: white;
}


@media (max-width:1600px) {
    .title {
        font-size: 6rem;
    }

    .sub-title {
        font-size: 3em;
    }
}
